<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>about</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
	<div style="float:right;margin-top:10px;margin-right:5px;"><a th:href="@{/Adminhome1}" class="btn btn-success">Back to Home</a></div>
	<br>
	<br>
     
	<div class="container"
		style="height: 200px;margin-top:20px; background-image: linear-gradient(to right, rgba(255, 0, 0, 0), rgba(255, 0, 0, 1));">
		<br>
		<p>Travelogy India, world Tour Company, founded in
			2022 dedicated to provide inbound travel services and hospitality.
			Years of experience added with creative tour packages and thousands
			of satisfied clients have made us one of the leading tour companies
			in India. Our philosophy stems from an old adage – leaving no stone
			unturned – which makes us reputable in Indian tour and travel
			circles. At your finger tips are: Whether you know what type of trip
			you want, need to mix and match destinations in an itinerary, or want
			a specific theme based India travel, we make it easy for you to
			strike the best travel plan. As we have served scores of travelers
			coming to India from all over the world, our valuable suggestions by
			our experienced travel experts grace your India journey. Experienced
			travel experts with well furnished India travel plans Theme based
			flexible India travel and holiday itineraries Exclusive travel tips
			just right for your perennial travel needs A wide choice of
			pre-package India holiday packages</p>
		<div class="col-md-3">

			<form
				style="margin-top: 60px; border: 2px dashed pink; padding: 30px; box-shadow: 4px 4px lavender;">
				<h1>Contact</h1>
				<label>Name</label> <input type="text" name="text" id="a"
					class="form-control"> <label>Email</label> <input
					type="text" name="text" id="p" class="form-control"><br>
				<input type="submit" class="btn btn-success" value="submit">
				<input type="reset" class="btn btn-danger" value="reset">
			</form>
			<br>
			<br>
			<!-- <div style="float: left">
				<a href="/Adminhome1"><button>Back To Home</button></a>
			</div> -->
		</div>

		<iframe
			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d60572.34739846228!2d76.53194793998746!3d18.40323818707837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcf83bd7132cd29%3A0x83629bac5848da3e!2sLatur%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1645252410205!5m2!1sen!2sin"
			width="500" height="400"
			style="border: 2px solid black; float: right; margin-top: 30px; margin-right: 100px;"></iframe>
	</div>

</body>
</html>