<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<style>
body {
	background-image: url(a.jpg);
	background-size:cover;
}

table, th, td {
	border: 2px solid black;
}
</style>

</head>
<body>
	<h1 style="text-align: center; text-shadow: 2px 2px 8px #FF0000;">CAB</h1>
	<div style="padding-left: 40px;">
		<a th:href="@{/Adminhome1}" class="btn btn-success">Back to Home</a>
	</div>
	

	<div class="col-md-3"></div>
	<div class="col-md-5">
		<table class="table table-hover" style="margin-top:20px;background-color:lavender;">
			<thead>
				<tr class="info">
					<th>CabID</th>
					<th>CarType</th>
					<th>PerKmRate</th>
					
				</tr>
			</thead>
			<tbody id="myTable">
				<tr th:each="key:${cab1}">
					<td th:utext="${key.cabid}"></td>
					<td th:utext="${key.cartype}"></td>
					<td th:utext="${key.perkmrate}"></td>
					
				</tr>
		</table>
	</div>
	<div class="col-md-6"></div>
</html>l>