<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    table{
         margin-left:300px;
         margin-top:100px;
    }  
  </style>
</head>
<body>

<form  method="get" th:action="@{/countoftype1}">

<table>
<tr>
<th>count</th>
</tr>
<tr>

<td th:utext="${k}" class="form-control">

</tr>
</table>
</form><br><br>
<div><a th:href="@{/allCablist}" class="btn btn-success">Back to CabList</a></div>
</body>
</html>