<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>home</title>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  <style>
  .first{
    float:left;
    margin-left:20px;
   
  }
 body{
     background-image: url(cshome.webp);
   background-size: cover;
   
   
  } 
 
  
  </style>
</head>
<body>
<br>
<div id="a">

<div class="first"><a href="/viewBookingfordriver">Booking Details</a></div>
<div class="first"><a href="/logout">Logout</a></div>
</div>
<br>
</body>
</html>