<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  form{
      border:3px solid black;
      padding:20px;
      margin-top:20px;
      box-shadow:5px 5px;
  }
  body{
      background-image:url(from.jpg);
  }
  
  </style>
</head>
<body>
<h3 style="text-align:center;">Add Record of Driver & Cab</h3>
 <div class="col-md-4"></div>
 <div class="col-md-4">
<form class="form-group" th:action="@{/storedata}"  method="post">
<label>DriverId</label>
<input type="text"  class="form-control" th:field="*{driver.driverid}" required placeholder="enter Driver id" >
<label>LicenceNum</label>
<input type="text"  class="form-control"  th:field="*{driver.licenceNo}" required placeholder="enter LicenceNum">
<label>Rating</label>
<input type="text"  class="form-control"  th:field="*{driver.rating}" required placeholder="enter the rating" >
<label>CabId</label>
<div >
<input type="text"  class="form-control"  th:field="*{cab.cabid}" required placeholder="enter the CabID">
<label>CarType</label>
<input type="text"  class="form-control"  th:field="*{cab.cartype}" required placeholder="enter the CarType">
<label>PerKmRate</label>
<input type="text"  class="form-control" th:field="*{cab.perkmrate}" required placeholder="enter the PerKmRate"><br><br>
</div>
<input type="submit" value="submit"  class="btn btn-success">
<input type="reset" value="cancle"  class="btn btn-danger">

</form>
</div>
<div><a th:href="@{/home}" class="btn btn-success">Back to Home</a></div>
</body>
</html>