<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script>
	$(document).ready(
			function() {
				$("#myInput").on(
						"keyup",
						function() {
							var value = $(this).val().toLowerCase();
							$("#myTable tr").filter(
									function() {
										$(this).toggle(
												$(this).text().toLowerCase()
														.indexOf(value) > -1)
									});
						});
			});
</script>
</head>
<body>
<h1 style="text-align:center;text-shadow: 2px 2px 8px #FF0000;">Customer Booking</h1>
<div style="padding-left:40px;"><a th:href="@{/driverhome}" class="btn btn-success">Back to Home</a></div>
<div class="col-md-8"></div>
<div class="col-md-4">
  <form class="form-inline" action="/action_page.php">
<p>Type something in the input field to search the Booking</p>  
<input id="myInput" class="form-control mr-sm-2" type="text" placeholder="Search..">
</form>
</div>
<br><br><br>
	    <div class="col-md-10">
	    			<table class="table table-hover table-bordered">
	    			<thead>
				<tr>
					<th>TripId</th>
					<th>CustomerId</th>
					<th>From</th>
					<th>To</th>
					<th>Fdate</th>
					<th>ToDate</th>
					<th>Status</th>
					<th>KM</th>
					<th>Bill</th>
					<th>Driver Id</th>
					<th>Licence No</th>
					<!-- <th>Car Type</th> -->
					<!-- <th>Delete</th> -->
				</tr></thead>
				<tbody id="myTable">
				<tr th:each="list1 : ${trip_booking1}">
					<td th:text="${list1.tripbookingid}"></td>
					<td th:text="${list1.cutomerid}"></td>
					<td th:text="${list1.fromlocation}"></td>
					<td th:text="${list1.tolocation}"></td>
					<td th:text="${list1.fromdatetime}"></td>
					<td th:text="${list1.todatetime}"></td>
					<td th:text="${list1.status}"></td>
					<td th:text="${list1.distanceinkm}"></td>
					<td th:text="${list1.bill}"></td>
					<td th:text="${list1.driver.driverid}"></td>
					<td th:text="${list1.driver.licenceNo}"></td>
					<!-- <td th:text="${list1.driver}"></td> -->
					 <!--  <td><a th:href="@{/del1{id}(id=${list1.tripbookingid})}"
					class="btn btn-danger">delete</a></td> 
 -->
				</tr>
			</table>
</div>
	
</body>
</html>
